* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;

}

html,
body {
    height: 100%;
    width: 100%;
}

/* background color of the top navigation */
.topnav {
    background-color: #2196f3;
    overflow: hidden;
}

/* styling the links in the nav bar */
.topnav a {
    float: left;
    color: #212121;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* color of the links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* color of the current/active link */
.topnav a.active {
    background-color: #757575;
    color: white;
}

#intro{
    height: 100%;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-color: rgba(27, 151, 235, 0.6);
    background-size: 100% 100%;
    color: #ffffff;
    
}



/* flexbox container  */
.container-profile {
    display: flex;
    justify-content: space-between;
    
    
}

.container-profile div {
    border: 1px solid #ccc;
    padding: 10px;
}

.container-profile-personal {
    flex:1;
    flex-basis: 50%;
}

.holder{

}

.container-profile-intro {
    flex: 2;
    flex-basis: 25%;
}

.container-profile-status {
    flex: 3;
    flex-basis: 25%;
}
#About{
    height: 100%;
    background-repeat: no-repeat;
    background-color: rgba(27, 151, 235, 0.6);
    background-size: 100% 100%;
    color: #ffffff; 
}



/* footer styling */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2196f3;
    color: #ddd;
    text-align: center;
}